# Ignore dataset images
data/cats/*
data/dogs/*

# But keep folder structure using .gitkeep
!data/cats/.gitkeep
!data/dogs/.gitkeep

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Ignore model files and large arrays
models/*.keras
models/*.pkl
models/*.npy

# Byte-compiled / cache files
__pycache__/
*.py[cod]
